<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Prarabdha / N01578947</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>N01578947@humber.ca</p>
    </footer>
  </body>
</html>